/* src/App.css */
.App {
    font-family: Arial, sans-serif;
}

.App-header {
    background-color: #282c34;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%; /* Default for mobile */
    padding-left: 50px;
}

/* Media query for desktop devices */
@media (min-width: 768px) { /* Adjust the breakpoint as needed */
    .App-header {
        width: 700px; /* Width for desktop */
    }
}
nav {
    margin-bottom: 10px;
}

nav a {
    color: #61dafb;
    margin: 0 10px;
    text-decoration: none;
}

.content {
    border-top: solid 2px #e1e1e1;
    padding: 20px; /* Add padding for content */
    
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px; /* Add padding for footer */
    text-align: center; /* Center the text */
}


main {
    margin-top: 120px; /* Ensures content is below the header */
    padding: 20px; /* Add padding for main content */
}


html {
    scroll-padding-top: 120px; /* height of sticky header */
    width: 100%;
}

@media (min-width: 768px) { /* Adjust the breakpoint as needed */
    html {
        width: 700px; /* Width for desktop */
    }
}

ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

